body::-webkit-scrollbar {
  width: 0.5em; 
}
/* output */
body::-webkit-scrollbar-thumb {
  
  
  
  background-image: -webkit-gradient(linear,
                     left bottom,
                     left top,
                     color-stop(0.44, rgb(0, 0, 0)),
                     color-stop(0.72, rgb(70, 70, 70)),
                     color-stop(0.86, rgb(0, 0, 0)));

}
body::-webkit-scrollbar-thumb:hover{
  opacity:1;
}
body::-webkit-scrollbar-track {
  
  background-color: transparent;
  
}

body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
 
}
/* selection */
::selection{
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standart yazım */
}

/* spacing on all sections */
.section {
    margin-top: 4rem;
    padding-top: 4rem;
}
.section:last-of-type {
    padding-bottom: 4rem;
}
    
.image_about {
  height: 75%;
  width: 50%;
  border-radius: 50%;
  object-fit: cover;
  transform: translateX(50%);
}

 .social-icons {
    font-size: 36px;
    cursor: pointer;
    position: fixed;
    z-index: 2;
    left: 10px;
    bottom: 10px;
    
}
.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover, 
.fa-twitch:hover {
    color: #fff;
}
.fab {
    color: #000000;
}

.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}
.contact a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    text-align: center;
    
    
}
.contact{
    display: flex;
    flex-direction:column;  
    align-items: center;
    justify-content: center;
    
    
}
.contact span{
    padding-right: 10px;
    color: white;
}
.text-center{
    margin-bottom: 3rem;
}

.Telbutton{
  position: fixed;
  transform: all .5s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, .15);
  border-right: none;
  color: #fff;
  line-height: 50px;
  z-index: 2;
  border: 0;
  font-weight: 700;
  left: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(0px) saturate(168%);
  -webkit-backdrop-filter: blur(0px) saturate(168%);
  background-color: rgba(255, 255, 255, 0.53);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  border-top-right-radius:20px;
  border-bottom-left-radius:20px;
 
  transition: all .4s ease;
}
.Telbutton:hover{
  background: rgba(255, 1, 128, 0.15);
  border-top-left-radius:20px;
  border-bottom-right-radius:20px;
}
.Telbutton i{
  font-size: 1.8rem;
  transform: translateY(20%);
  
}

.WpButton{
  position: fixed;
  transform: all .5s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, .15);
  border-right: none;
  color: #fff;

  z-index: 2;
  border: 0;
  font-weight: 700;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  display: flex;

  align-items: center;
  justify-content: center;
  backdrop-filter: blur(0px) saturate(168%);
  -webkit-backdrop-filter: blur(0px) saturate(168%);
  background-color: rgba(255, 255, 255, 0.53);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  border-top-left-radius:20px;
  border-bottom-right-radius:20px;
  transition: all .4s ease;
}
.WpButton:hover{
  background: rgba(255, 1, 128, 0.15);
  border-top-right-radius:20px;
  border-bottom-left-radius:20px;
}
.WpButton i {
  font-size: 1.5rem;
  transform: translateY(10%);
  
}

.workexpsp{
  font-weight: 300;
  font-size: large
}
.card-text{
  font-weight: 650
}

.card-img-top{
  object-fit:fill;
  height: 320px;
}

.card{
  height: 100%;
}

#portfolio{
  margin-bottom: 4rem
}
.g2{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  justify-content: center;
  column-gap: 5rem;
  margin-top: 5rem;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
* {
  box-sizing: border-box;
  cursor: none;
  padding: 0;
  margin: 0;
  height: auto;
}

html,
body {
  background: #efefef;
  color: #212121;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  height: 100%;

}

::selection {
  background: #efefef;
  color: #212121;
  mix-blend-mode: difference;
}

::-moz-selection {
  background: #efefef;
  color: #212121;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 900;
}

h1 {
  font-size: 3em;
}

.hero-title {
  font-size: clamp(3.75rem, 6.711vw - 0.554rem, 7.5rem);
  line-height: 1em;
  font-weight: 900;
}

.nav-title {
  font-size: 4em;
}

a {
  transition: all 0.25s ease-in-out;
}

.white,
a.white {
  color: #efefef;
}

.black {
  color: #212121;
}

.pearl,
a.pearl {
  color: #fff;
}

.green,
a.green {
  color: #00bcd4;
}

.pink {
  color: #b73b3b;
}

.blend {
  mix-blend-mode: difference !important;
  color: #efefef;
  position: relative;
  z-index: 2;
}

.bg-black {
  background-color: #212121;
}

.bg-green {
  background-color: #00bcd4;
}

.bg-topographic {
  background-image: url(https://assets.codepen.io/319606/bg-topographic.svg);
  background-size: 5000px;
  opacity: 0.1;
  pointer-events: none;
}

.custom-cursor {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #00bcd4;
  transition: transform 350ms ease;
  transform: translate(-50%, -50%) scale(0.3);
  z-index: 1000;
}

.custom-cursor--link {
  transform: translate(-50%, -50%) scale(1.25);
}

.swoosh {
  background-image: url("images/logo2.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  top: 20px;
  left: 18px;
  width: 230px;
  height: 45px;
  z-index: 1000;
  background-position: left;
}

.sticky-nav {
  top: 20px;
  left: 20px;
  position: fixed;
  width: calc(100% - 40px);
  z-index: 999;
}
.sticky-nav.difference {
  background-repeat: no-repeat;
  background-size: contain;
  mix-blend-mode: difference;
}
.sticky-nav.difference #nav-btn {
  filter: invert(0);
}
.sticky-nav .logo {
  width: 220px;
  height: 45px;
  background-image: url("images/logo.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left;
  z-index: 998;
}
.sticky-nav #nav-btn {
  width: 60px;
  z-index: 999;
  filter: invert(1);
}
.sticky-nav #nav-btn .icon {
  position: relative;
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
}

#takeover-nav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  left: 0;
  top: -200%;
  transition: all 0.5s ease-in-out;
  z-index: 996;
}
#takeover-nav.shown {
  top: 0;
}
#takeover-nav .nav-col {
  min-height: 100vh;
}
#takeover-nav .nav-col a {
  color: #efefef;
}
#takeover-nav .nav-col a:hover {
  color: #212121;
}
#takeover-nav .nav-contact .content {
  max-width: 700px;
}
#takeover-nav .nav-items {
  font-size: 2.5em;
  font-weight: 700;
}
#takeover-nav .contact-items {
  font-size: 1.25em;
  font-weight: 700;
}
#takeover-nav .contact-items a:hover {
  color: #00bcd4;
}
#takeover-nav .social {
  font-size: 0.75em;
}
#takeover-nav .social a {
  color: #00bcd4;
}
#takeover-nav .social a:hover {
  color: #efefef;
}

.gradient-overlay {
  bottom: 0;
  height: 50%;
  background: -moz-linear-gradient(top, rgba(33, 33, 33, 0) 0%, #212121 50%);
  background: -webkit-linear-gradient(top, rgba(33, 33, 33, 0) 0%, #212121 50%);
  background: linear-gradient(to bottom, rgba(33, 33, 33, 0) 0%, #212121 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00212121", endColorstr="#212121",GradientType=0 );
  z-index: 1;
  border-bottom-right-radius: 15vw;
  pointer-events: none;
}

.video-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-bottom-right-radius: 15vw;
  pointer-events: none;
}

#video-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 100%;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  transform: rotate(180deg);
}

section {
  
  width: 100%;
}
section.hero {
  background-color: #212121;
  border-bottom-right-radius: 15vw;
  position: relative;
}
section.hero:before {
  content: "";
  background-color: #212121;
  position: absolute;
  top: 100%;
  left: 0;
  width: 15vw;
  height: 15vw;
}
section.hero:after {
  content: "";
  background-color: #efefef;
  position: absolute;
  top: 100%;
  left: 0;
  width: 15vw;
  height: 15vw;
  border-top-left-radius: 15vw;
}




@media screen and (min-width: 1200px) {
  .hero {
    height: 75vh;
  }
  .hero #video-bg {
    object-position: 0 5vw;
  }
}
@media screen and (max-width: 1199px) {
  .hero #video-bg {
    object-position: 0 15vw;
  }
}
@media screen and (max-width:992px){
  .g2{
    grid-template-columns: 1fr;
    gap: 3rem
  };
}
@media screen and (max-width: 767px) {
  #takeover-nav .nav-menu {
    min-height: 500px;
  }
  #takeover-nav .nav-menu a {
    color: #212121;
  }
  #takeover-nav .nav-menu a:hover {
    color: #efefef;
  }
  #takeover-nav .nav-contact {
    min-height: 600px;
  }
  #takeover-nav .nav-contact .nav-title {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 575px) {
  header .swoosh {
    width: 165px;
    height: 35px;
    top: 10px;
  }
  header .sticky-nav {
    top: 10px;
  }
  header .sticky-nav .logo {
    width: 150px;
    height: 35px;
  }
  header .sticky-nav #nav-btn {
    width: 40px;
  }
  header #takeover-nav .contact-items {
    font-size: 1em;
  }

  .hero {
    min-height: 600px;
    height: 600px;
  }
  .hero .hero-title {
    font-size: clamp(3.75rem, 6.711vw - 0.554rem, 7.5rem);
  }
  .hero #video-bg {
    object-position: 0 30vw;
  }
}
@media screen and (min-width:768px) {
  .WpButton{
      bottom: 70px;
      border-top-left-radius:12px;
      border-bottom-right-radius:12px;
      border-top-right-radius:20px;
      border-bottom-left-radius:20px;
  }
  .WpButton:hover{
      border-top-left-radius:20px;
      border-bottom-right-radius:20px;
  }
}
@media screen and (min-width:768px) {
  .Telbutton{
      left: auto;
      right: 10px;
      bottom: 10px;
  }
}